@import '../../constants.module.scss';

.main{
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: 48px;
    gap: 24px;
    @include mainContainerDefault;
    @media only screen and (max-width: $tablet){
        padding-top: 24px;
        padding-bottom: 100px;
    }
}
.products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.search:focus{
    outline: $pink;
}
.categoriesContainer{
    display: flex;
    gap: 16px;
    width: 100%;
    justify-content: center;
}