@import '../../constants.module.scss';

.main{
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: 48px;
    gap: 24px;
    @include mainContainerDefault;
    @media only screen and (max-width: $tablet){
        padding-top: 24px;
        padding-bottom: 100px;
    }
}
.formData{
    height: 100%;
    display: flex;
    align-items: flex-start;
    gap: 80px;
    div{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    @media only screen and (max-width: $tablet){
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
}
.input{
    border: none;
    height: 40px;
    border-radius: 10px;
    padding-inline: 8px;
    font-size:20px;
    color: $black;
    box-shadow: 0px 0px 2px 1px rgba(68, 40, 82, 0.15);
}
.input:focus{
    outline: none;
    box-shadow: 0px 6px 10px 4px rgba(68, 40, 82, 0.25);
}
.select:focus{
    outline: none;
    box-shadow: 0px 6px 10px 4px rgba(68, 40, 82, 0.25);
}
.select{
    border: none;
    height: 40px;
    border-radius: 10px;
    padding-inline: 8px;
    font-size:20px;
    color: $black;
    text-transform: capitalize;
    box-shadow: 0px 0px 2px 1px rgba(68, 40, 82, 0.15);
}
.submitContainer{
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    button{
        border: none;
        background-color: $green;
        padding: 4px 10px;
        border-radius: 10px;
        font-size: 40px;
        text-transform: capitalize;
        color: $white;
        cursor: pointer;
    }
    @media only screen and (max-width: $tablet){
        margin-top: 16px;
    }
}
.error{
    box-shadow: 0px 7px 20px 6px rgba(245, 4, 4, 0.727)
}