@import '../../constants.module.scss';

.filterContainer{
    display: flex;
    align-items: center;
    gap :24px;
    justify-content: center;
    @media only screen and (max-width: $tablet){
        flex-direction: column;
        gap: 8px;
        padding-inline: 16px;
    }
}
.search{
    justify-content: flex-start;
    width: fit-content;
    @media only screen and (max-width: $tablet){
        width: 100%;
        input{
            width: 100%;
        }
    }
}
.selectContainer{
    width: 200px;
    height: 40px;
    border: 1px solid $purple-2;
    border-radius: 50px;
    padding-inline: 16px;
    text-transform: capitalize;
    option{
        text-transform: capitalize;
    }
    @media only screen and (max-width: $tablet){
        width: 100%;
    }
}
.selectContainer{
    outline: none;
}